body {
    margin: 3;
    padding: 0;
    background-color: #e2e2e2;
    font-family: Lucida Console, Courier New, Monaco, monospace;
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: Helvetica, Arial, Geneva, sans-serif;
    text-align: center;
}

.title-text {
    font-size: 38px;
    background-color: #8c8c8c;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255, 0.5) 0px 1px 1px;
}

